* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    /* background: #000; */
    background-image: url(https://images.unsplash.com/photo-1717864748847-d7451ba5feac?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D);
}

.wrapper {
    position: relative;
    height: 150px; /* Adjusted height to accommodate date */
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}

.wrapper .display,
.wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display {
    z-index: 999;
    background: #1b1b1b;
    height: 135px; /* Adjusted height to accommodate date */
    width: 345px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .display #date,
.wrapper .display #time {
    line-height: 1.2;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

.wrapper .display #time {
    font-size: 50px;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.wrapper span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

.wrapper span:first-child {
    filter: blur(10px);
}

.wrapper span:last-child {
    filter: blur(20px);
}
